#messageslist {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  /* to disable dots*/
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#messageslist > ::content .messagediv {
  display: flex;
  justify-content: space-between;
}

#messageslist > ::content .messagediv > div {
  margin: 4px;
  padding: 4px;
}

#messageslist > ::content .usernamediv {
  min-width: 80px;
  text-align: right;
}

#messageslist > ::content .textdiv {
  min-width: 200px;
  width: 100%;
  text-align: left;
  word-break: break-all; /* For FF. Chrome works fine with or without it.*/
}

#messageslist > ::content .mymessagetextdiv {
  background-color: #fefee1;
}

#messageslist > ::content .alienmessagetextdiv {
  background-color: azure;
}

#messageslist > ::content .datediv {
  min-width: 80px;
  max-width: 80px;
  text-align: right;
  vertical-align: middle;
}
